<h1>Load 2018 data </h1>

In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
lucas_2018_soil_data_path = "..\..\data\df_2018_with_bd.csv"

lucas_2018_soil_data = pd.read_csv(lucas_2018_soil_data_path, delimiter=",")

In [3]:
lucas_2018_soil_data

,Depth,POINT_ID,pH_CaCl2,pH_H2O,EC,OC,CaCO3,P,N,K,Elevation,LC1,LU1,BD 0-10,BD 10-20
0,0-20 cm,47862690,4.1,4.81,8.73,12.4,3,< LOD,1.1,101.9,291,C23,U120,NaN,NaN
1,0-20 cm,47882704,4.1,4.93,5.06,16.7,1,< LOD,1.3,51.2,373,C21,U120,NaN,NaN
2,0-20 cm,47982688,4.1,4.85,12.53,47.5,1,12.3,3.1,114.8,246,C33,U120,NaN,NaN
3,0-20 cm,48022702,5.5,5.80,21.10,28.1,3,< LOD,2,165.8,305,C22,U120,NaN,NaN
4,0-20 cm,48062708,6.1,6.48,10.89,19.4,2,< LOD,2.2,42.1,335,C22,U120,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18739,0-20 cm,32643634,6.0,6.13,91.40,51.4,2,92.2,5.3,1036.9,50,E20,U111,NaN,NaN
18740,0-20 cm,32703676,4.9,5.14,51.78,73.9,NaN,81.6,6.9,225,34,B55,U111,NaN,NaN
18741,0-20 cm,32783608,5.5,5.94,22.40,63.7,1,101.9,6.7,569.5,50,E20,U111,NaN,NaN
18742,0-20 cm,32783636,5.3,5.90,10.42,38.3,1,7.3,3.1,1907.9,122,E20,U370,NaN,NaN
18743,0-20 cm,33023682,4.7,4.97,141.70,98.7,1,33.7,10.1,231.1,143,E20,U111,0.423,0.707

In [4]:
lucas_organic_data_path = "..\..\Resources\LUCAS datasets\LUCAS 2018\LUCAS-SOIL-2018-data-report-readme-v2\LUCAS-SOIL-2018-v2\LUCAS2018_ORG.csv"
lucas_organic_data = pd.read_csv(lucas_organic_data_path, delimiter=",")

In [5]:
lucas_organic_data

,POINT_ID,SURVEY_SOIL_ORG_CULTIVATED,SURVEY_SOIL_ORG_DEPTH_P_CM,SURVEY_SOIL_ORG_DEPTH_N_CM,SURVEY_SOIL_ORG_DEPTH_E_CM,SURVEY_SOIL_ORG_DEPTH_S_CM,SURVEY_SOIL_ORG_DEPTH_W_CM,SURVEY_SOIL_ORG_DEPTH_P_40_CM,SURVEY_SOIL_ORG_DEPTH_N_40_CM,SURVEY_SOIL_ORG_DEPTH_E_40_CM,SURVEY_SOIL_ORG_DEPTH_S_40_CM,SURVEY_SOIL_ORG_DEPTH_W_40_CM,SURVEY_SOIL_ORG_TAKEN,SURVEY_SOIL_ORG_DEPTH_CANDO
0,27602150,1,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1
1,27842394,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0,NaN,1
2,27842416,2,18.0,23.0,NaN,21.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,1
3,27942164,2,23.0,16.0,18.0,20.0,14.0,0.0,0.0,0.0,0.0,0.0,NaN,1
4,28002400,1,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,54203812,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1
1046,54223834,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1
1047,54263840,2,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,1
1048,54761846,2,19.0,16.0,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1049,55061782,2,20.0,15.0,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1