In [273]:
import pandas as pd
import numpy as np

In [274]:
df=pd.read_csv("data/merged_soil_intersects.csv")

In [275]:
df.isna().sum()

point_id                    0
ph_2015                     0
ec_2015                     0
oc_2015                     0
caco3_2015                  0
p_2015                      0
n_2015                      0
k_2015                      0
elevation_2015              0
lc1_2015                    0
lu1_2015                    0
ph_2018                     0
ec_2018                     5
oc_2018                     0
caco3_2018               5841
p_2018                      6
n_2018                      0
k_2018                      0
elevation_2018              0
lc1_2018                    0
lu1_2018                    0
bd_0_10                  8196
bd_10_20                 8421
survey_erosion_signs    12827
ph_2009                     0
oc_2009                     0
caco3_2009                  0
p_2009                      0
n_2009                      0
k_2009                      0
elevation_2009              0
lc1_2009                    0
lu1_2009                    0
dtype: int64

In [276]:
df["caco3_2018"].dropna()

16        38
19         5
31        58
37        11
43       117
        ...
13270      6
13276      1
13277    117
13279     11
13280      5
Name: caco3_2018, Length: 7442, dtype: object

In [277]:
array=df["caco3_2018"].unique()

In [278]:
no_df=df.replace('<  LOD',np.nan)

In [279]:
def convert_to_number(string):

   
    try:
        return float(string)
    except:
        print(string)
        return string

In [280]:
no_df["caco3_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

94.0203820799139

In [281]:
df["caco3_2018"][df["caco3_2018"].isna()]=no_df["caco3_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\293234431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["caco3_2018"][df["caco3_2018"].isna()]=no_df["caco3_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

In [282]:
df["ec_2018"][df["ec_2018"].isna()]=no_df["ec_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\1927307765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ec_2018"][df["ec_2018"].isna()]=no_df["ec_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

In [283]:
df["p_2018"].unique

<bound method Series.unique of 0           15
1           13
2         29.9
3         51.3
4         17.8
         ...
13278     19.7
13279       24
13280       10
13281    < LOD
13282     13.9
Name: p_2018, Length: 13283, dtype: object>

In [284]:
no_df=df.replace('< LOD',np.nan)

In [285]:
df["p_2018"][df["p_2018"].isna()]=no_df["p_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\1019213591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["p_2018"][df["p_2018"].isna()]=no_df["p_2018"].dropna().apply(lambda x: convert_to_number(x)).mean()

In [286]:
df["bd_0_10"][df["bd_0_10"].isna()]=no_df["bd_0_10"].dropna().apply(lambda x: convert_to_number(x)).mean()

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\2533959869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["bd_0_10"][df["bd_0_10"].isna()]=no_df["bd_0_10"].dropna().apply(lambda x: convert_to_number(x)).mean()

In [287]:
df["bd_10_20"][df["bd_10_20"].isna()]=no_df["bd_10_20"].dropna().apply(lambda x: convert_to_number(x)).mean()

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\3825662169.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["bd_10_20"][df["bd_10_20"].isna()]=no_df["bd_10_20"].dropna().apply(lambda x: convert_to_number(x)).mean()

In [288]:
df.isna().sum()

point_id                    0
ph_2015                     0
ec_2015                     0
oc_2015                     0
caco3_2015                  0
p_2015                      0
n_2015                      0
k_2015                      0
elevation_2015              0
lc1_2015                    0
lu1_2015                    0
ph_2018                     0
ec_2018                     0
oc_2018                     0
caco3_2018                  0
p_2018                      0
n_2018                      0
k_2018                      0
elevation_2018              0
lc1_2018                    0
lu1_2018                    0
bd_0_10                     0
bd_10_20                    0
survey_erosion_signs    12827
ph_2009                     0
oc_2009                     0
caco3_2009                  0
p_2009                      0
n_2009                      0
k_2009                      0
elevation_2009              0
lc1_2009                    0
lu1_2009                    0
dtype: int64

In [289]:
num_col=[col for col in df.columns if df[col].dtypes!="O" ]
cat_col=[col for col in df.columns if df[col].dtypes=="O" ]

In [290]:
df[cat_col]

,lc1_2015,lu1_2015,oc_2018,caco3_2018,p_2018,n_2018,k_2018,lc1_2018,lu1_2018,lc1_2009,lu1_2009
0,C21,U120,66.1,94.020382,15,4.6,99.8,C21,U120,C20,U120
1,C22,U120,64,94.020382,13,2.6,44,C22,U120,C20,U361
2,D20,U420,102.1,94.020382,29.9,8.1,238.7,D20,U111,D20,U111
3,E20,U120,340.5,94.020382,51.3,28,128.5,E20,U120,E10,U120
4,D20,U111,147.2,94.020382,17.8,9.3,240.2,D20,U111,E20,U111
...,...,...,...,...,...,...,...,...,...,...,...
13278,E20,U111,36.2,94.020382,19.7,4.6,141.4,E20,U111,E20,U111
13279,E20,U111,62,11,24,7.1,146.1,E20,U111,E20,U111
13280,E20,U111,52.3,5,10,5.6,96.8,E20,U111,E20,U111
13281,E20,U111,27.1,94.020382,< LOD,3.4,45.7,E20,U111,E20,U111
13282,C10,U120,23.1,94.020382,13.9,2.1,185.8,C10,U120,C10,U120

In [291]:
"C120"[-3:]

'120'

In [292]:
df["lc1_2018"].unique()

array(['C21', 'C22', 'D20', 'E20', 'C10', 'C33', 'B11', 'B22', 'B41',
       'B15', 'E30', 'B23', 'B55', 'B16', 'F40', 'B32', 'B13', 'B21',
       'A22', 'B43', 'B71', 'A30', 'E10', 'B72', 'C32', 'B31', 'B52',
       'B12', 'B53', 'D10', 'C31', 'B73', 'C23', 'H12', 'F30', 'H11',
       'B14', 'B54', 'F20', 'B35', 'B51', 'Bx1', 'B75', 'B82', 'B74',
       'B19', 'B81', 'B84', 'F10', 'B44', 'B18', 'B45', 'B37', 'B83',
       'B42', 'B33', 'B17', 'B77', 'H22', 'B76', 'B34', 'G21', 'B36',
       'A21'], dtype=object)

In [293]:
for i in ["lc1_2015","lc1_2009"]:
    print(i)
    df[i]=df[i].apply(lambda x:(ord(x[:1])-64)*100+int(x[1:3]) )

lc1_2015
lc1_2009

In [294]:
df["lc1_2015"]

0        321
1        322
2        420
3        520
4        420
        ...
13278    520
13279    520
13280    520
13281    520
13282    310
Name: lc1_2015, Length: 13283, dtype: int64

In [295]:
def replace(x):
    try:
        return(ord(x[:1])-64)*100+int(x[1:3])
    except:
        return(ord(x[:1])-64)*100+int(x[2:3])

In [296]:
def replace_lu(x):
    try:
        return(ord(x[:1])-64)*1000+int(x[1:3])
    except:
        return(ord(x[:1])-64)*1000+int(x[2:3])

In [297]:
df["lc1_2018"]=df["lc1_2018"].apply(lambda x: replace(x))

In [298]:
for i in ["lu1_2015","lu1_2009","lu1_2018"]:
    print(i)
    df[i]=df[i].apply(lambda x: replace_lu(x))

lu1_2015
lu1_2009
lu1_2018

In [299]:
df

,point_id,ph_2015,ec_2015,oc_2015,caco3_2015,p_2015,n_2015,k_2015,elevation_2015,lc1_2015,...,survey_erosion_signs,ph_2009,oc_2009,caco3_2009,p_2009,n_2009,k_2009,elevation_2009,lc1_2009,lu1_2009
0,33883766,3.8,41.50,103.1,0.0,34.7,7.7,69.6,375.0,321,...,NaN,3.92,285.3,0.0,1092.76,14.1,209.3,340.0,320,21012
1,35363916,3.2,4.21,17.9,0.0,20.8,0.8,7.9,68.0,322,...,NaN,3.01,205.7,0.0,278.45,6.1,246.0,8.0,320,21036
2,33823392,3.9,43.00,96.3,0.0,31.6,7.8,93.5,243.0,420,...,NaN,4.37,274.7,0.0,570.20,17.3,210.0,179.0,420,21011
3,33983652,4.0,58.80,368.3,0.0,41.3,24.3,94.1,276.0,520,...,NaN,3.58,405.0,1.0,1264.19,22.8,98.1,222.0,510,21012
4,35383866,4.0,146.90,128.8,0.0,40.0,9.8,195.8,406.0,420,...,NaN,4.60,288.7,0.0,780.83,14.8,530.6,346.0,520,21011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13278,45542694,5.0,10.00,16.8,0.0,3.5,2.0,35.7,885.0,520,...,NaN,5.75,36.6,2.0,1017.05,3.7,89.5,879.0,520,21011
13279,45402772,6.9,81.00,49.9,8.0,49.3,5.6,200.1,477.0,520,...,NaN,6.67,26.3,6.0,826.83,1.4,250.0,430.0,520,21011
13280,45882618,6.8,65.10,53.9,3.0,16.6,5.9,90.0,630.0,520,...,NaN,6.99,35.6,13.0,1202.65,3.5,58.6,619.0,520,21011
13281,45342706,6.0,30.70,24.2,0.0,4.6,3.2,32.7,719.0,520,...,NaN,5.66,24.5,1.0,940.35,2.9,41.1,710.0,520,21011
13282,47742660,4.2,7.30,26.0,0.0,9.6,2.2,162.0,344.0,310,...,NaN,4.18,25.5,0.0,911.54,1.9,146.5,342.0,310,21012

In [300]:
df["p_2018"].unique

<bound method Series.unique of 0           15
1           13
2         29.9
3         51.3
4         17.8
         ...
13278     19.7
13279       24
13280       10
13281    < LOD
13282     13.9
Name: p_2018, Length: 13283, dtype: object>

In [301]:
df["ph_2015"].replace("< LOD",1).min()

2.6

In [302]:
df[cat_col]

,lc1_2015,lu1_2015,oc_2018,caco3_2018,p_2018,n_2018,k_2018,lc1_2018,lu1_2018,lc1_2009,lu1_2009
0,321,21012,66.1,94.020382,15,4.6,99.8,321,21012,320,21012
1,322,21012,64,94.020382,13,2.6,44,322,21012,320,21036
2,420,21042,102.1,94.020382,29.9,8.1,238.7,420,21011,420,21011
3,520,21012,340.5,94.020382,51.3,28,128.5,520,21012,510,21012
4,420,21011,147.2,94.020382,17.8,9.3,240.2,420,21011,520,21011
...,...,...,...,...,...,...,...,...,...,...,...
13278,520,21011,36.2,94.020382,19.7,4.6,141.4,520,21011,520,21011
13279,520,21011,62,11,24,7.1,146.1,520,21011,520,21011
13280,520,21011,52.3,5,10,5.6,96.8,520,21011,520,21011
13281,520,21011,27.1,94.020382,< LOD,3.4,45.7,520,21011,520,21011
13282,310,21012,23.1,94.020382,13.9,2.1,185.8,310,21012,310,21012

In [303]:
num_col

['point_id',
 'ph_2015',
 'ec_2015',
 'oc_2015',
 'caco3_2015',
 'p_2015',
 'n_2015',
 'k_2015',
 'elevation_2015',
 'ph_2018',
 'ec_2018',
 'elevation_2018',
 'bd_0_10',
 'bd_10_20',
 'survey_erosion_signs',
 'ph_2009',
 'oc_2009',
 'caco3_2009',
 'p_2009',
 'n_2009',
 'k_2009',
 'elevation_2009']

In [304]:
for i in ["oc_2018","caco3_2018","p_2018","n_2018","k_2018"]:
    num_col.append(i)

In [305]:
no_df.nunique()

point_id                13283
ph_2015                    61
ec_2015                  2751
oc_2015                  1761
caco3_2015                666
p_2015                   1276
n_2015                    292
k_2015                   4428
elevation_2015           1051
lc1_2015                   62
lu1_2015                   19
ph_2018                    60
ec_2018                  3416
oc_2018                  1866
caco3_2018                665
p_2018                   1156
n_2018                    293
k_2018                   4578
elevation_2018           1310
lc1_2018                   64
lu1_2018                   24
bd_0_10                  1456
bd_10_20                 1365
survey_erosion_signs        1
ph_2009                   529
oc_2009                  1769
caco3_2009                667
p_2009                  12378
n_2009                    565
k_2009                   4575
elevation_2009           1040
lc1_2009                   59
lu1_2009                   22
dtype: int64

In [306]:
num_col

['point_id',
 'ph_2015',
 'ec_2015',
 'oc_2015',
 'caco3_2015',
 'p_2015',
 'n_2015',
 'k_2015',
 'elevation_2015',
 'ph_2018',
 'ec_2018',
 'elevation_2018',
 'bd_0_10',
 'bd_10_20',
 'survey_erosion_signs',
 'ph_2009',
 'oc_2009',
 'caco3_2009',
 'p_2009',
 'n_2009',
 'k_2009',
 'elevation_2009',
 'oc_2018',
 'caco3_2018',
 'p_2018',
 'n_2018',
 'k_2018']

In [308]:
for i in num_col:
    #no_df=df[i].dropna().apply(lambda x: convert_to_number(x))
    #no_df=no_df.replace("< LOD",1000)
    #no_df=no_df.replace("<  LOD",1000)
    #no_df=no_df.replace("<0.0",1000)
    df[i][(df[i] == "< LOD") | (df[i] == "<  LOD") | (df[i] == "<0.0")] = 0.01

    
    df[i]=df[i].apply(lambda x: convert_to_number(x))

C:\Users\vibu\AppData\Local\Temp\ipykernel_9252\2741629522.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][(df[i] == "< LOD") | (df[i] == "<  LOD") | (df[i] == "<0.0")] = 0.01

In [309]:
df["p_2018"]

0        15.00
1        13.00
2        29.90
3        51.30
4        17.80
         ...
13278    19.70
13279    24.00
13280    10.00
13281     0.01
13282    13.90
Name: p_2018, Length: 13283, dtype: float64

In [316]:
df["survey_erosion_signs"].value_counts()

1.0    456
Name: survey_erosion_signs, dtype: int64